@model PagedList.IPagedList<WebNotesDataBase.ViewModels.IndexNoteViewModel>
@*@model WebNotesDataBase.DAL.NotesModel*@
    @using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

<br/>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary"} )
        <span class="pull-right">
            @Html.ActionLink("Account", "../Users/Details", null, new { @class = "btn btn-info" }) |
            @Html.ActionLink("LogOut", "../Users/LogOut", null, new { @class = "btn btn-info" })
        </span>
    </p>
    <table class="table">
        <tr>
            <th>CreatedDate</th>
            <th>EditedDate</th>
            <th>NameAuthor</th>
            <th>Label</th>
            <th>Body</th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.NameAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td width="320">
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NoteId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.NoteId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NoteId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    </table>
<br/>
@*<table cellpadding="0" cellspacing="0">
    <tr>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <td>
                @if (i != Model.CurrentPageIndex)
                {
                    <a href="javascript:PagerClick(@i);">@i</a>
                }
                else
                {
                    <span>@i</span>
                }
            </td>
        }
    </tr>
</table>
<input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
<script type="text/javascript">
            function PagerClick(index) {
                document.getElementById("hfcurrentPageIndex").value = index;
                document.forms[0].submit();
            }
</script>*@
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page } ))

